.button,
button,
input[type="button"] {
  padding: 6px 12px;
  border: 2px solid $color-main;
  border-radius: 4px;
  text-decoration: none;

  background-color: $color-white;
  color: $color-main;

  transition: all ease 0.1s;
  outline-style: none;

  &:visited {
    color: $color-main;
  }

  &:not(:disabled):hover {
    background-color: $color-main;
    color: $color-white;
  }

  &.is-danger {
    color: $color-danger;
    border: 2px solid $color-danger;
    &:not(:disabled):hover {
      background-color: $color-danger;
      color: $color-white;
    }
  }

  &.is-warning {
    color: $color-warning;
    border: 2px solid $color-warning;
    &:not(:disabled):hover {
      background-color: $color-warning;
      color: $color-white;
    }
  }

  &.for-upload > input {
    display: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-group {
  width: 100%;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include mq-max("sm") {
    flex-direction: column;
    align-items: stretch;
    .button,
    button,
    input[type="button"] {
      width: 100%;
      &:first-child:not(:last-child) {
        border-radius: 4px 4px 0 0;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
        border-top: none;
      }
      &:last-child:not(:first-child) {
        border-radius: 0 0 4px 4px;
        border-top: none;
      }
    }
  }
  @include mq-min("sm") {
    .button,
    button,
    input[type="button"] {
      &:first-child:not(:last-child) {
        border-radius: 4px 0 0 4px;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
        border-left: none;
      }
      &:last-child:not(:first-child) {
        border-radius: 0 4px 4px 0;
        border-left: none;
      }
    }
  }
}
