input:not([type="button"]):not([type="checkbox"]) {
  padding: 6px 12px;
  border: 1px solid $color-gray;
  border-radius: 4px;
  text-decoration: none;
  background-color: $color-white;
  transition: all ease 0.1s;

  &:focus:not([disabled]) {
    border: 1px solid $color-main;
    box-shadow: 0 0 4px 0 $color-main;
    outline-style: none;
  }

  &[disabled] {
    background-color: $color-gray-bg;
  }

  &:invalid {
    border: 1px solid $color-danger;
    box-shadow: 0 0 4px 0 $color-danger;
    outline-style: none;
    &:focus:not([disabled]) {
      border: 1px solid $color-danger;
      box-shadow: 0 0 4px 0 $color-danger;
      outline-style: none;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
