.row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  div.box {
    @include mq-min("sm") {
      width: 100%;
      @include mq-min("md") {
        width: 50%;
        @include mq-min("lg") {
          width: 33.3%;
          @include mq-min("xl") {
            width: 25%;
          }
        }
      }
    }
  }
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: flex-start;

  &.has-label {
    height: 82px;
  }
  &.between {
    justify-content: space-between;
  }
}
