$color-main: #ff9800;
$color-sub: #ffb74d;
$color-accent: #29b6f6;
$color-accent-bg: #d5f2ff;

$color-danger: #ff4b00;
$color-danger-bg: #fff1eb;
$color-success: #00b14a;
$color-success-bg: #d4ffe6;
$color-warning: #cca700;
$color-warning-bg: #fdfbc9;

$color-black: #333333;
$color-gray: #aaaaaa;
$color-gray-bg: #eeeeee;
$color-white: #ffffff;

$color-line-main: #35435e;
$color-line-balloon: #b2ed8b;
$color-line-bg: #d8dce5;
$color-line-border: #4a5670;
